.btn {
    border: none;
    font-size: 20px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}




.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

.btn-2 {
    background: black;
    color: #fff;
}

.btn-2:hover {
    background: #242424;
}

.btn-2:active {
    background: #242424;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}
.icon-cart:before {
    content: "\f07a";
}