.mensaje{

		width: 250px;
		background: #65ff54;
		margin-left: 400px;
		border-radius: 7px;
		color: #23631c;
		

}
.mensaje2{
		
		width: 250px;
		background: #ff9ca8;
		border-radius: 7px;
		color: #a64955;
		

}


